<CascadingAuthenticationState>
  <div class="">
    <a class="navbar-brand text-light ml-0 px-3 pt-1 w-100" href="@RouteHelper.Home"><img src="/images/logo.png" alt="" width="44" height="44" class="mr-2" /> PixataBlank</a>
    <ul class="nav flex-column">
      <li class="nav-item">
        <NavLink class="nav-link" href="@RouteHelper.Home" Match="NavLinkMatch.All">
          <span class="@IconsHelper.Dashboard" aria-hidden="true"></span> Home
        </NavLink>
      </li>
      <li class="nav-item">
        <NavLink class="nav-link" href="/Authed">
          <span class="@IconsHelper.Properties" aria-hidden="true"></span> Authed
        </NavLink>
      </li>
      <li class="nav-item">
        <NavLink class="nav-link" href="/AdminOnly">
          <span class="@IconsHelper.Properties" aria-hidden="true"></span> Admin only
        </NavLink>
      </li>
    </ul>
  </div>
</CascadingAuthenticationState>